@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@custom-variant can-hover (@media (hover: hover) and (pointer: fine));

/* @layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
  }
} */

/* @utility container {
  margin: 0 auto;
  padding: 0 2rem;
} */

/* @custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;
  --color-blue: #0052ff;
  --color-yellow: #cdea19;
  --color-gray-50: #f6f6f8;
  --color-gray-100: #eeeef1;
  --color-gray-200: #e3e4e8;
  --color-gray-300: #bbbdc9;
  --color-gray-400: #9499ad;
  --color-gray-500: #727892;
  --color-gray-600: #515870;
  --color-gray-700: #383d51;
  --color-gray-800: #252837;
  --color-gray-900: #1b1d27;
  --color-gray-950: #13141b;

  --default-transition-duration: 250ms;
} */
.font-facility-book {
  font-family: var(--font-facility-book);
}

/* .dot {
  @apply block h-8 w-8 bg-contain bg-center bg-no-repeat;
  background-image: url('/web-app-manifest-192x192.png');
} */
.dot-pos {
  @apply fixed z-50 flex items-center gap-4 left-5 top-[calc(100svh-3.5rem)];
  /* bottom: calc(1.5rem + env(safe-area-inset-bottom, 0px)); */
}

.dot {
  @apply block h-8 w-8 rounded-full block;
}

@utility pb-above-dot {
  /* padding-bottom: calc(6.25rem + env(safe-area-inset-bottom, 0px)); */
  padding-bottom: calc(8rem + env(safe-area-inset-bottom, 0px));
}

@utility mobile-grid-edge-padding {
  @media (width < 48rem) {
    padding-top: max(0px, calc(50svh - var(--first-half-h)));
    padding-bottom: max(
      calc(6.25rem + env(safe-area-inset-bottom, 0px) + 2px),
      max(0px, calc(50svh - var(--last-half-h)) + 2px)
    );
  }
}

@utility grid-caption {
  @apply absolute top-full left-0 w-full pt-2 text-center text-xs leading-tight whitespace-pre-wrap;
}

@media (width < 48rem) {
  .grid-caption {
    opacity: 0;
  }

  .grid-caption[data-active='true'] {
    opacity: 1;
  }
}

@media (width >= 48rem) {
  .grid-caption {
    opacity: 1;
  }

  @media (hover: hover) and (pointer: fine) {
    .group:not(:hover) .grid-caption {
      opacity: 0;
    }
  }
}

.cursor-arrow-right {
  cursor: url('/cursors/arrow-right.svg') 59 5, pointer;
}

.cursor-arrow-left {
  cursor: url('/cursors/arrow-left.svg') 0 5, pointer;
}